body{
    margin: 0;
    background-color: rgb(44, 44, 44);
    font-family: 'Open Sans', sans-serif;
}
header{
    position: sticky;  
    top: 0;
    flex-direction: column;
    background: rgba(15, 15, 15, 0.384);
    height: 3rem; 
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 1.25rem 1.25rem;
}
h2{
    margin: 0 0 0.25rem 0;
}
#form{  
    position: sticky;  
    bottom: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.15);
    height: 3rem; 
}
.input-area{
    padding: 0.25rem; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    
}
.input{
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem;
    height: 2rem;
}
#input:focus{
    outline: none;
}
.input-area > button{
    background: #333;
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff;
}
#messages{
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    padding: 0;
    min-height: calc(100vh - 10.5rem);
    
}
.message{ 
    padding: 0.5rem 1rem; 
    margin: 0.25rem;
    border-radius: 10px;
    overflow-wrap: break-word;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.send{
    align-self: flex-end;
    background-color: blanchedalmond;
}
.received{
    align-self: flex-start;
    background-color: aquamarine;
}
#typing{
    position: relative;
}

.server-message{
    color: #ffffffd4;
    background-color: rgb(133, 133, 133, 0.38);
    align-self: center;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.25rem;
    overflow-wrap: anywhere;
}
.modal{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(15, 15, 15, 0.904);
    
}
#input-nick{
    border-radius: 8px;
}
.modal-content {
    color: #dbdbdb;
    background-color: rgb(73, 73, 73);
    margin: 10%; 
    padding: 20px;  
    width: 80%; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}
.center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ul{
    padding: 0;
    list-style: none;
    overflow-wrap: anywhere;
    margin: 1rem;
}
li{
    display: flex;
    align-items: center;
}
ul li::before{
    content: "\2022";
    color: #7fffd4;
    display: inline-block;
    width: 1rem;
    font-weight: bold;
    font-size: x-large;
}
.hidden{display: none;}
.sender{
    color:#1b1b7d;
}
p{
    margin: 0.25rem;
}